.complaint-detail-main-container{
    flex: 1;
    overflow-y: auto;
    background-color: #f9fafb;
    padding: 2rem;
    overflow-x: visible;
}

.complaint-detail-main-frame{
    width: 100%;
    height: 100%;
    padding: 0 1rem;
    overflow: visible;
}

.complaint-detail-page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}


