.complaint-detail-main-container{
    flex: 1;
    overflow-y: auto;
    background-color: #f9fafb;
    padding: 1rem;
}

.complaint-detail-main-frame{
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.complaint-detail-page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
}


