.sidebar-btn {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  border-radius: 0.375rem;
  cursor: pointer;
  white-space: nowrap;
  transition: background 0.2s, color 0.2s;
}

.side-bar-container {
  width: 16rem;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  z-index: 10;
}
